# Node dependencies
node_modules/

# Platform-specific folders
/platforms/
/plugins/
/www/

# Cordova build artifacts
/cordova/

# IDE (por ejemplo, Visual Studio Code) settings
.vscode/

# Mac OS
.DS_Store

# IDE (por ejemplo, WebStorm) settings
.idea/

# TypeScript configuration
tsconfig.json
